.board-container {
  border: 1px solid rgb(113, 113, 113);
  border-radius: 10px;
  padding: 24px 24px 24px 24px;
  margin-top: 5px;
}

.board-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
